<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>eouw0o83hf :: @ViewBag.Title</title>
</head>
<body>
    @RenderBody()
    <div>
        Site map:
        <ul>
            <li>@Html.RouteLink("Main", "Main")</li>
            <li>@Html.RouteLink("About", "About")</li>
            <li>@Html.RouteLink("Version Info", "Version")</li>
        </ul>
    </div>
</body>
</html>
