<!DOCTYPE html>

<html>
<head>
    @*Title, meta, etc*@
    <meta name="viewport" content="width=device-width" />
    <title>eouw0o83hf :: @ViewBag.Title</title>

    @*Scripts and Styles*@
    <script src="@Url.Content("~/Scripts/jquery-2.0.0.min.js")"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    @RenderSection("Scripts", false)

    <link href="@Url.Content("~/Content/Style/Global.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Style/Prettifiest.css")" rel="stylesheet" type="text/css" />

    @RenderSection("Styles", false)
</head>
<body>
    <div id="Wrapper">
        <div id="Menu" class="outer-container">
            <ul>
            @foreach(var l in ViewData.Get<ICollection<LinkViewModel>>("MenuLinks"))
            {
                <li>
                    <a href="@l.Url">@l.LinkText</a>
                </li>
            }
            @RenderSection("MenuLinks", false)
            </ul>
        </div>
        <div id="Content">
            @{
                var notification = TempData.GetNotification();                        
            }
            @if (notification != null)
            {
                <div class="notification-container notification-container-@notification.Type.ToString().ToLowerInvariant() outer-container">
                    <span>@notification.Subject</span>
                    <p>@notification.Message</p>
                </div>
            }
            @RenderBody()
        </div>
    </div>
    <!-- Make prettify work with markdown -->
    <script type="text/javascript">
        $(function () {
            // The following line finds "pre" elements that also have "code" children
            // There's probably a better jquery way to filter by children, but this works
            $('pre')            // Anything code-y is in a pre
                .find('code')   // Anything truly code-y is in a code in a pre
                .parent()       // The class needs to be added to the pre
                .addClass('prettyprint');
        });
    </script>
    @RenderSection("ScriptFooter", false)
</body>
</html>
