@model Blog.Web.ViewModels.Admin.EditPostViewModel
@{
    ViewBag.Title += "Admin: Posts";
    Layout = "~/Views/Shared/Global.cshtml";
    
    var blogs = (IDictionary<int, string>)ViewData[Blog.Web.Controllers.AdminController.VIEWDATA_BLOGS];
    var blogDdl = blogs.Select(a => new SelectListItem
    {
        Selected = a.Key == Model.BlogId,
        Text = a.Value,
        Value = a.Key.ToString()
    });

    var breadcrumbName = Model.PostId.HasValue ? "Edit" : "Create";
}
<div class="admin-wrapper">
    <h2>@Html.ActionLink("Admin", "Index") » @Html.ActionLink("Posts", "Posts") »  @breadcrumbName</h2>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(a => a.PostId)
        @Html.HiddenFor(a => a.Identifier)
        <table>
            <tr>
                <td>
                    @Html.LabelFor(a => a.BlogId, "Blog")
                </td>
                <td>
                    @Html.DropDownListFor(a => a.BlogId, blogDdl, "Select a Blog")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.Title, "Title")
                </td>
                <td>
                    @Html.TextBoxFor(a => a.Title)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.UrlTitle, "URL Title")
                </td>
                <td>
                    @Html.TextBoxFor(a => a.UrlTitle)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.Body, "Text")
                </td>
                <td>
                    @Html.TextAreaFor(a => a.Body, new {  })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="button">Preview</button>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>
    }
</div>