@model Blog.Web.ViewModels.Users.UserViewModel
@{
    ViewBag.Title += "Admin: User";
    Layout = "~/Views/Shared/Global.cshtml";

    var permissions = (ICollection<Blog.Models.PermissionEnum>)ViewData[Blog.Web.Controllers.UsersController.ViewdataPermissions];
}
<div class="admin-wrapper">
    <h2>@Html.ActionLink("Admin", "Index") » @Html.ActionLink("List", "Users") »  @Model.Email</h2>
    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td>
                    @Html.LabelFor(a => a.Email)
                </td>
                <td>
                    @Html.DisplayFor(a => a.Email)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.EmailConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(a => a.EmailConfirmed)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.Upn)
                </td>
                <td>
                    @Html.DisplayFor(a => a.Upn)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.UserId)
                </td>
                <td>
                    @Html.DisplayFor(a => a.UserId)
                </td>
            </tr>
            <tr>
                <td>
                    Permissions
                </td>
                <td>
                    @foreach (var i in permissions)
                    {
                        var targetItem = Model.Permissions.FirstOrDefault(a => a.PermissionType == i);
                        @Html.Hidden("Permissions.Index", i)
                        @Html.Hidden("Permissions[" + i.ToString() + "].PermissionType", i)
                        @Html.Label("Permissions[" + i.ToString() + "].IsInRole", i.ToString())
                        @Html.CheckBox("Permissions[" + i.ToString() + "].IsInRole", Model.Permissions.SelectFirstOrDefault(a => a.PermissionType == i, a => a.IsInRole))
                    }
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>
    }
</div>