@model GiftGivr.Web.Models.ClaimGiftViewModel
@{
    ViewBag.Title = "Claim";
    Layout = "~/Views/Shared/Global.cshtml";
}
<h1>Claim @Model.Gift for @Model.GiftTarget</h1>
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>
                @Html.LabelFor(a => a.Claim, "Claim it?")
            </td>
            <td>
                @Html.CheckBoxFor(a => a.Claim)
            </td>
        </tr>
        <tr>
            <td>
                Anything else to say?
            </td>
            <td>
                @Html.TextAreaFor(a => a.Comment)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">Post it!</button>
            </td>
        </tr>
    </table>
}