@using Common;
@model GiftGivr.Web.Models.GiftCollectionViewModel

@{
    ViewBag.Title = "Gifts";
    Layout = "~/Views/Shared/Global.cshtml";
}
<h1>@Model.Name</h1>
@{
    var requested = Model.Gifts.Where(a => a.TargetRequestedThisGift).ToList();   
}
@if(requested.Any())
{
    <h2>
        Gifts that @Model.Name has requested
    </h2>
    foreach(var r in requested)
    {
        @Html.Partial("Gift", r)
    }
}
else
{
    <h2>
        @Model.Name hasn't yet requested any gifts
    </h2>
}
@if (Model.ThisIsYou)
{
    <h3>
        @if(requested.Count == 0)
        {
            @:Don't you want to feel loved?
        }
        else if(requested.Count < 8)
        {
            @:What else do you need?
        }
        else
        {
            @:Wow, you probably need some more stuff
        }
    </h3>
    <p>
        @Html.ActionLink("Tell everyone what you need!", "Create", new { UserId = Model.UserId })
    </p>
}
    
@if(!Model.ThisIsYou)
{
    var suggested = Model.Gifts.Where(a => !a.TargetRequestedThisGift).ToList();
    if(suggested.Any())
    {
        <h2>
            Suggested gifts for @Model.Name
        </h2>
        <p><em>@Model.Name cannot see any of these.</em></p>
        foreach (var r in suggested)
        {
            @Html.Partial("Gift", r)
        }
        <h3>
            Feeling Generous? 
        </h3>
        <p>
            @Html.ActionLink("Suggest another gift!", "Create", new { UserId = Model.UserId })
        </p>
    }
    else
    {
        <h2>
            Nobody has suggested any gifts for @Model.Name yet!
        </h2>
        <p>
            @Html.ActionLink("Suggest one now!", "Create", new { UserId = Model.UserId })
        </p>
    }
}