@model Blog.Web.ViewModels.Account.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/Global.cshtml";
}

@section Styles {
    <style type="text/css">
        input[type="password"] {
            margin-top: 15px;
            display: block;
        }
        span.field-validation-error {
            display: block;
            font-size: 12px;
            padding: 0;
            margin: 0 0 5px 0;
            height: 12px;
        }
        label {
            display: block;
            margin: 1px 0;
            padding: 0;
        }
    </style>
}

<h2>Change your Password</h2>

@using (Html.BeginForm())
{
    @Html.PasswordFor(a => a.OldPassword)
    @Html.ValidationMessageFor(a => a.OldPassword)
    @Html.LabelFor(a => a.OldPassword, "Old Password")

    @Html.PasswordFor(a => a.NewPassword)
    @Html.ValidationMessageFor(a => a.NewPassword)
    @Html.LabelFor(a => a.NewPassword, "New Password")

    @Html.PasswordFor(a => a.ConfirmNewPassword)
    @Html.ValidationMessageFor(a => a.ConfirmNewPassword)
    @Html.LabelFor(a => a.ConfirmNewPassword, "Confirm Password")
    <br />
    <button type="submit">Submit</button>
}